@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

:root {
  --background: #050510;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  background-image: radial-gradient(circle at 50% 0%, #1e1b4b 0%, transparent 40%),
                    radial-gradient(circle at 100% 50%, #2e1065 0%, transparent 40%),
                    radial-gradient(circle at 0% 100%, #1e1b4b 0%, transparent 40%);
  background-attachment: fixed;
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
